<div class="relative overflow-x-auto sm:rounded-lg">
  <div class="flex flex-column sm:flex-row flex-wrap space-y-4 sm:space-y-0 items-center justify-between pb-4">
    <div class=" mb-5">
      <div class="flex flex-wrap justify-between gap-10">


      <label for="table-search" class="sr-only"></label>
      <div class="relative">
        <div class="absolute inset-y-0 left-0 rtl:inset-r-0 rtl:right-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor"
            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
              clip-rule="evenodd"></path>
          </svg>
        </div>
        <input type="text" id="table-search" [(ngModel)]="searchQuery" (input)="search()"
          class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
          placeholder="Nombre/Empresa/Puesto">
      </div>
      </div>
    </div>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
      <thead class="text-xs text-gray-700 text-left uppercase bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3">
            Compañia
          </th>

          <th>
            Contratista
          </th>

          <th scope="col" class="px-6 py-3">
            Acciones
          </th>
        </tr>
      </thead>
      <tbody *ngFor="let company of paginatedCompanies ; let i = index " >
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
          <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
            {{company.main_company_name}}
          </td>
          <td>
            {{company.sub_company_name}}
          </td>

          <td class="px-6 py-4">
            <button (click)="navigateToCompanyStats(company.id)" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Ver estadisticas</button>
          </td>

        </tr>
      </tbody>
    </table>
      </div>
      <nav class="flex items-center flex-column flex-wrap md:flex-row justify-between pt-4" aria-label="Table navigation">
        <span class="text-sm font-normal text-gray-500 dark:text-gray-400 mb-4 md:mb-0 block w-full md:inline md:w-auto">Total de resultados <span class="font-semibold text-gray-900 dark:text-white">{{Companies.length}}</span></span>
        <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
            <li>
                <button class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"(click)="setPage(currentPage - 1)"
                [disabled]="currentPage === 1">
                Anterior</button>
            </li>


            <button class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-black"
            *ngFor="let page of pagesArray"
            (click)="setPage(page)"
            [class.bg-blue-600]="page === currentPage"
            [class.text-white]="page === currentPage">
          {{ page }} </button>

            <li>
              <button  class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"(click)="setPage(currentPage + 1)"
              [disabled]="currentPage === totalPages">
              Siguiente</button>
            </li>
        </ul>
    </nav>
    </div>




