<div class="flex justify-center login p-16">
  <div class="form container flex flex-col items-center justify-center">
    <form class="w-full max-w-md p-8 shadow-md rounded-lg" [formGroup]="forms" (ngSubmit)="onSubmit()">
      <div class="flex flex-col items-center justify-center mb-10">
        <img class="mb-5" width="200" src="../assets/logo/LOGO-PIGNUS.png" alt="Pignus Logo">
        <hr class="w-48 h-1 mx-auto border-0 rounded mb-5">
      </div>

      <div class="mb-5">
        <label for="username" class="block mb-2 text-sm font-medium text-gray-900">Correo electrónico</label>
        <input formControlName="email" type="email" id="username"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Ingrese el correo electrónico" required />
        <div *ngIf="emailInvalid">
          <a class="text-red-500 text-sm font-medium">Correo requerido</a>
        </div>
      </div>

      <div class="mb-5">
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Contraseña</label>
        <input formControlName="password" type="password" id="password" placeholder="Ingrese la contraseña"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          required />
        <div *ngIf="passwordInvalid">
          <a class="text-red-500 text-sm font-medium">Contraseña requerida</a>
        </div>
      </div>

      <div class="flex justify-center">
        <button type="submit"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Entrar</button>
      </div>
    </form>

    <!-- Errores -->
    <div *ngFor="let error of errorMessages" class="bg-red-500 rounded-lg mb-5 flex justify-center">
      <a *ngIf="error" class="text-white text-sm font-medium m-5">{{error}}</a>
    </div>
  </div>
</div>
