/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --primary-blue: #162d56;
  --secondary-blue: #05668D;
  --terciary-blue:  #101c6b;
  --primary-white: #f0f0f0;
  --secondary-white: #ebF2fA;
  --primary-green: #7eca26;
  --secondary-green: #a5e00a;
}
